/* General shared styles */
.track-request-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89vh;
}

.search-container-top {
    margin: 3vh 2vw 0 2vw;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    width: 89vw;
}

.search-container-bottom {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.bottom-left {
    margin: 40px 3vw;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    width: 94vw;
}

.search-container-top h2 {
    color: #1a73e8;
    font-size: 26px;
    margin-bottom: 4vh;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.search-form-search label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 600;
    color: #555;
}

.search-form-search input {
    width: -webkit-fill-available;
    padding: 10px;
    max-width: 20vw;
    margin-bottom: 0px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border 0.3s;
}

.search-form-search input:focus {
    border-color: #1a73e8;
    outline: none;
    box-shadow: 0 0 8px rgba(26, 115, 232, 0.2);
}

.search-form-search {
    display: flex;
    min-width: 50vw;
    gap: 3vw;
    align-items: center;
}

.search-container-top button {
    width: 20%;
    padding: 12px;
    color: #fff;
    background-color: #1a73e8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
    max-height: fit-content;
}

.search-container-top button:hover {
    background-color: #155bb5;
}

.search-results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.search-results-table thead tr {
    background-color: #1a73e8;
    color: #fff;
    text-align: left;
}

.search-results-table th,
.search-results-table td {
    padding: 12px 15px;
    text-align: left;
}

.search-results-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.search-results-table tbody tr:hover {
    background-color: #e6f3ff;
}

.search-results-table th {
    font-weight: bold;
}

.search-results-table td {
    border-bottom: 1px solid #ddd;
}

.unavailable-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    font-size: 14px;
    font-weight: bold;
    background-color: #d32f2f;
    color: #fff;
    opacity: 0.8;
    transition: background-color 0.3s, opacity 0.3s;
    width: 12.3vw;
}

.unavailable-button:hover {
    background-color: #b71c1c;
    opacity: 1;
}
