.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 98vw;
    background-color: #1a73e8;
    border-radius: 5vh;
    margin: 1vh 1vw;
}

.header-left {
    display: flex;
    align-items: center;
}

.company-name {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    margin: 0 20px;
    padding: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}