.search-assets-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89vh;
}

.logo img {
    width: 6vh;
    height: 6vh;
    padding: 0 5vh;
}

.company-name {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    margin: 0 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.search-container-top {
    margin: 3vh 2vw 0 2vw;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    width: 89vw;
}

.search-container-bottom {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.bottom-left {
    margin: 40px 3vw;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    width: 60vw;
}

.bottom-right {
    margin: 40px 3vw 40px 0;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    width: 34vw;
}

.search-container-top h2 {
    color: #1a73e8;
    font-size: 26px;
    margin-bottom: 4vh;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.search-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 600;
    color: #555;
}

.search-form input {
    width: -webkit-fill-available;
    padding: 10px;
    max-width: 20vw;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border 0.3s;
}

.search-form input:focus {
    border-color: #1a73e8;
    outline: none;
    box-shadow: 0 0 8px rgba(26, 115, 232, 0.2);
}

.search-container-top .button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-container-top button {
    width: 30%;
    padding: 12px;
    color: #fff;
    background-color: #1a73e8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #155bb5;
}

.search-results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.search-results-table thead tr {
    background-color: #1a73e8;
    color: #fff;
    text-align: left;
}

.search-results-table th,
.search-results-table td {
    padding: 12px 15px;
    text-align: left;
}

.search-results-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.search-results-table tbody tr:hover {
    background-color: #e6f3ff;
}

.search-results-table th {
    font-weight: bold;
}

.search-results-table td {
    border-bottom: 1px solid #ddd;
}

.asset-details {
    display: flex;
}

.asset-image {
    height: 35vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asset-image img {
    height: 20vh;
    width: auto;
}
.track-button,
.request-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 6vw;
}

.unavailable-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    font-size: 14px;
    font-weight: bold;
    background-color: #d32f2f;
    color: #fff;
    opacity: 0.8;
    transition: background-color 0.3s, opacity 0.3s;
    width: 12.3vw;
}

.unavailable-button:hover {
    background-color: #b71c1c;
    opacity: 1;
}

.track-button {
    background-color: #4caf50;
    color: #fff;
    margin-right: 0.3vw;
}

.track-button:hover {
    background-color: #43a047;
}

.request-button {
    background-color: #1a73e8;
    color: #fff;
}

.request-button:hover {
    background-color: #155bb5;
}